/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

/*All file are update but when I run assignment some of them give trouble not like what we want, so can you help me to figure out that.
Thanks!*/

/*defaul desktop device*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.facebook:hover {
  color: #fff;
}
.twitter:hover {
  color: #fff;
}
.instagram:hover {
  color: #fff;
}
.linked-in:hover {
  color: #fff;
}
button,
.trigram {
  visibility: hidden;
}

.teammates-list {
  display: flex;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
}
/*tablet device view setting*/
@media (max-width: 768px) {
  button,
  .trigram {
    display: flex;
    justify-content: flex-end;
  }
  ul,
  li,
  a {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .social-icons {
    color: white;
  }
  .top-navigation,
  ul {
    display: none;
  }
  .portfolio-list {
    flex-direction: column;
    width: 100%;
  }

  .portfolio-item {
    display: flex;
    flex-direction: row;
  }
  .teammates-list {
    flex-direction: column;
    gap: 30px;
  }

  .teammates-list:before,
  .teammates-list:after {
    display: none;
    visibility: hidden;
  }
  .teammate-data,
  .teammate-social {
    display: flex;
    justify-content: center;
  }
  footer .social-icons div {
    display: none;
  }
  footer.social-icons {
    color: #fff;
    flex-direction: row;
  }
  .footer-contacts {
    gap: 40px;
    flex-direction: row;
    justify-content: center;
  }
}
/*mobile device view */
@media (max-width: 375px) {
  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-list {
    flex-direction: column;
  }
  .footer-contacts {
    flex-direction: column;
  }
  .teammates-list {
    flex-direction: column;
  }
  .teammate-data,
  .teammate-social {
    flex-direction: row;
  }
  .social-icons,
  div {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .footer-contacts {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
